@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.VideoFormModel
@{
    ViewBag.Title = string.Format("Video - [Video {0}]", Messages.Details);
}
<h2>
    @Messages.Details</h2>
<fieldset>
    <legend>Video @Messages.Details</legend>
    <div class="display-label">
         @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.FileName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>
    <div class="display-label">
          @Html.LabelFor(model => model.Link)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
    <div class="display-label">
         @Html.LabelFor(model => model.SortOrder)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.ThumbnailLink)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThumbnailLink)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Messages.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Messages.BackToList, "List")
</p>
