@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.VideoFormModel
@{
    ViewBag.Title = "Video - [Edit Video]";
}
<h2>@Messages.Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/methods_de.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Video @Messages.Edit </legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FileName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileName)
            @Html.ValidationMessageFor(model => model.FileName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Link)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SortOrder)
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ThumbnailLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThumbnailLink)
            @Html.ValidationMessageFor(model => model.ThumbnailLink)
        </div>
        @Html.HiddenFor(model => model.Id)
        <p>
            <input type="submit" value=@Messages.Save />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink(Messages.BackToList, "List")
</div>
