@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.PictureFormModel
@{
    ViewBag.Title = string.Format("{0} - [{0} {1} ]", Messages.Picture, Messages.Delete);
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion</h3>
<fieldset>
    <legend>@Messages.Picture @Messages.Delete</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
         @Html.LabelFor(model => model.FileName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Link)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.SortOrder)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value=@Messages.Delete />
        |
        @Html.ActionLink(Messages.BackToList, "List")
    </p>
}
