@using Lbk.MobileApp.Domain.Resources
@using Lbk.MobileApp.Web.Helpers
@model Lbk.MobileApp.Web.Models.PictureFormModel
@{
    ViewBag.Title = string.Format("{0} - [{0} {1} ]", Messages.Picture, Messages.Details); 
}
<h2>
    @Messages.Details</h2>
<fieldset>
    <legend>@Messages.Picture @Messages.Details</legend>
    <div>
        <div class="picture-data">
            <div class="display-label">
                @Html.LabelFor(model => model.Title)</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="display-label">
                @Html.LabelFor(model => model.Description)</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
            <div class="display-label">
                @Html.LabelFor(model => model.SortOrder)</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SortOrder)
            </div>
            <div class="display-label">
                @Html.LabelFor(model => model.Link)</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Link)
            </div>
            <div class="display-label">
                @Html.LabelFor(model => model.FileName)</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FileName)
            </div>
        </div>
        <div class="picture-image">
            @{
                if (!string.IsNullOrEmpty(Model.PictureLocation))
                {
                    @Html.Image(Url.Content(Model.PictureLocation), Html.Encode(Model.Description), new {title = Model.Description, border = 0, height = 320})
                }
            }
        </div>
        <div style="clear: both;" />
    </div>
</fieldset>
<p>
    @Html.ActionLink(Messages.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Messages.BackToList, "List")
</p>
