@using Lbk.MobileApp.Domain.Resources
@using Lbk.MobileApp.Web.Helpers
@model Lbk.MobileApp.Web.Models.GenericListViewModel<Lbk.MobileApp.Model.Picture, Lbk.MobileApp.Web.Models.PictureSearchFormModel>
@{
    ViewBag.Title = string.Format("{0} - [List {1}]", Messages.Picture, Messages.Pictures);
}
<h3>
    @Messages.Picture</h3>
<h2>
    List @Messages.Pictures</h2>
<p>
    @Html.ImageActionLink(Url.Content("~/Content/Images/add.png"), "", "Create", null,  new { title = Messages.PictureCreateNew, style = "image-icon" })
    @Html.ActionLink(Messages.PictureCreateNew, "Create")
</p>
<div id="mainSearch">
    @Html.Partial("_search", Model)
</div>
