@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.QuestionFormModel
@{
    ViewBag.Title = string.Format("{0} - [{1} {0} ]", Messages.Delete, Messages.Question); 
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion</h3>
<fieldset>
    <legend>@Messages.Question @Messages.Delete</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Number)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Points)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SerieId)
    <p>
        <input type="submit" value=@Messages.Delete />
        |
        @Html.ActionLink(Messages.BackToList, "List", new { id = Model.SerieId })
    </p>
}
