@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.CategoryFormModel
@{
    ViewBag.Title = string.Format("Menu - [{0} {1}]", Messages.Delete, Messages.Category); 
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion<br />
    All assigned foods also deleted!</h3>
<fieldset>
    <legend> @Messages.Delete @Messages.Category</legend>
    <div class="display-label">
        Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.Hidden("MenuId", (object)ViewBag.MenuId)
    <p>
        <input type="submit" value=@Messages.Delete />
        |
        @Html.ActionLink(Messages.BackToList, "List", new { MenuId = (object)ViewBag.MenuId })
    </p>
}
