@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.AnswerFormModel
@{
    ViewBag.Title = string.Format("Quiz - [{0} {1}]", Messages.Delete, Messages.Answer);
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion</h3>
<fieldset>
    <legend>@Messages.Answer @Messages.Delete</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Explanation)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Explanation)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.IsRight)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRight)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.QuestionId)
    <p>
        <input type="submit" value=@Messages.Delete />
        |
        @Html.ActionLink(Messages.BackToList, "List", new { id = Model.QuestionId })
    </p>
}
