@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.AnswerFormModel
@{
    ViewBag.Title = string.Format("Quiz - [{0} {1}]", Messages.Answer, Messages.Details);
}
<h2>
    @Messages.Details</h2>
<fieldset>
    <legend>@Messages.Answer @Messages.Details</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
         @Html.LabelFor(model => model.Explanation)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Explanation)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.IsRight)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRight)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Messages.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Messages.BackToList, "List", new { id = Model.QuestionId })
</p>
