@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.MenuFormModel
@{
    ViewBag.Title = string.Format("Menu - [{0} Menu]", Messages.Copy);
}
<h2>
    @Messages.Copy</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/methods_de.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Menu @Messages.Copy</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        @Html.HiddenFor(model => model.Id)
        <p>
            <input type="submit" value=@Messages.Copy />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink(Messages.BackToList, "List")
</div>
