@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.MenuFormModel
@{
    ViewBag.Title = string.Format("Menu - [{0}]", @Messages.Delete); 
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion</h3>
<fieldset>
    <legend>@Messages.Menu @Messages.Delete</legend>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value=@Messages.Delete/>
        |
        @Html.ActionLink(Messages.BackToList, "List")
    </p>
}
