@using Lbk.MobileApp.Domain.Resources
@using Lbk.MobileApp.Web.Helpers
@model Lbk.MobileApp.Web.Models.GenericListViewModel<Lbk.MobileApp.Model.Menu, Lbk.MobileApp.Web.Models.MenuSearchFormModel>
@{
    ViewBag.Title = string.Format("{0} - [{1} {0}]", Messages.Menu, Messages.List);
}
<h3>
    @Messages.Menu</h3>
<h2>
    @Messages.Menu @Messages.List</h2>
<p>
    @Html.ImageActionLink(Url.Content("~/Content/Images/add.png"), "", "Create", null, new { title = Messages.MenuCreateNew, style = "image-icon" })
    @Html.ActionLink(Messages.MenuCreateNew, "Create")
</p>
<div id="mainSearch">
    @Html.Partial("_search", Model)
</div>
