@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.SerieFormModel
@{
    ViewBag.Title = string.Format("{0} - [{1} {0} ]", Messages.Delete, Messages.Serie); 
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion</h3>
<fieldset>
    <legend>@Messages.Serie @Messages.Delete</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.ActivatedAt)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivatedAt)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
         @Html.LabelFor(model => model.ExpiresAt)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiresAt)
    </div>
    <div class="display-label">
         @Html.LabelFor(model => model.IsActivated)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActivated)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value=@Messages.Delete />
        |
        @Html.ActionLink(Messages.BackToList, "List")
    </p>
}
