@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.SerieFormModel
@{
    ViewBag.Title = string.Format("{0} - [{1} {0}]", @Messages.Serie, @Messages.Details);
}
<h2>
    @Messages.Details</h2>
<fieldset>
    <legend>@Messages.Serie @Messages.Details</legend>
    <div class="display-label">
         @Html.LabelFor(model => model.ActivatedAt)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivatedAt)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.ExpiresAt)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiresAt)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.IsActivated)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActivated)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Messages.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Messages.BackToList, "List")
</p>
