@using Lbk.MobileApp.Web.Helpers.HtmlHelpers
@model Lbk.MobileApp.Web.Models.StatisticsFormModel

<div id="searchRegion">
    @using (Ajax.BeginForm(MVC.Statistics.Index(), new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "resultGrid", LoadingElementId = "preloading" }, new {id="statiscticsForm"}))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend></legend>
            <div style="vertical-align: middle; margin-top: 0.80em;">
                <div style="float: left;">
                    <div>
                        @this.Html.LabelFor(m => m.StartDate)
                    </div>
                    <div>
                        @this.Html.EditorFor(m => m.StartDate)
                        <div>@this.Html.ValidationMessageFor(m => m.StartDate)</div>
                    </div>
                </div>
                <div style="float: left; margin-left: 0.80em;">
                    <div>
                        @this.Html.LabelFor(m => m.EndDate)
                    </div>
                    <div style="float: left;">
                        @this.Html.EditorFor(m => m.EndDate)
                        <div>@this.Html.ValidationMessageFor(m => m.EndDate)</div>
                    </div>
                </div>
                
                <div style="float: left; margin-left: 0.80em;">
                    <div>
                        @this.Html.LabelFor(m => m.DeviceType)
                    </div>
                    <div style="float: left;">
                        @this.Html.EnumDropDownListFor(m => m.DeviceType)
                    </div>
                </div>

                <div style="height: 1.80em; float: left; font-size: 0.80em; margin-top: 1.1em; margin-left: 0.80em;">
                    <input type="submit" name="btnSubmit" value="Anzeigen" />
                </div>
            </div>
        </fieldset>
    }
</div>

