@using Lbk.MobileApp.Domain.Resources
@model Lbk.MobileApp.Web.Models.FoodFormModel
@{
    ViewBag.Title = string.Format("Menu - [{1} {0} ]", Messages.Delete, Messages.Food); 
}
<h2>
    @Messages.Delete</h2>
<h3>
    @Messages.DeleteSecurityQuestion</h3>
<fieldset>
    <legend>@Messages.Food @Messages.Delete</legend>
    <div class="display-label">
        Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>
    <div class="display-label">
        Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
    <div class="display-label">
        SortOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MenuId)
    <p>
        <input type="submit" value=@Messages.Delete />
        |
        @Html.ActionLink(Messages.BackToList, "List", new { id = Model.MenuId })
    </p>
}
