@using Lbk.MobileApp.Domain.Resources
@using Lbk.MobileApp.Web.Helpers
@model Lbk.MobileApp.Web.Models.GenericListViewModel<Lbk.MobileApp.Web.Models.FoodListViewModel, Lbk.MobileApp.Web.Models.FoodSearchFormModel>
@{
    ViewBag.Title = string.Format("Menu - [List {0}]", Messages.Foods);
}
<h3>
    @Html.ActionLink("Menu", "List", new { controller = "Menu" })
    > @Html.Raw(ViewBag.MenuDescription)
    @*> @Html.ActionLink((string)ViewBag.SerieDescription, "List", new { controller = "Question", id = (object)ViewBag.SerieId })*@
</h3>
<h2>
    List  @Messages.Foods</h2>
<div>
    <span>
        @Html.ImageActionLink(Url.Content("~/Content/Images/add.png"), "", "Create", null, new { title = Messages.FoodCreateNew, style = "image-icon" })
        @Html.ActionLink(Messages.FoodCreateNew, "Create", new { id = @Model.SearchItem.MenuId })
    </span>
    <span>
    @Html.ImageActionLink(Url.Content("~/Content/Images/edit.png"), "", "List", new { controller = "Category", @Model.SearchItem.MenuId },
                new { title = string.Format("{0} {1}", Messages.Category, Messages.Manage), style = "image-icon" })
    @Html.ActionLink(string.Format("{0} {1}", Messages.Category, Messages.Manage), "List", new { controller = "Category", @Model.SearchItem.MenuId })
</span>
   
</div>

<div id="mainSearch">
    @Html.Partial("_search", Model)
</div>
