@model Lbk.MobileApp.Web.Models.EventFormModel
@{
    ViewBag.Title = "Event - [Detail Event]";
}
<h2>
    Detail</h2>
<fieldset>
    <legend>Detail Event</legend>
    <div class="display-label">
        Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
    <div class="display-label">
        DateOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOrder)
    </div>
    <div class="display-label">
        ActivatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivatedAt)
    </div>
    <div class="display-label">
        ExpiresAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiresAt)
    </div>
    <div class="display-label">
        IsActivated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActivated)
    </div>
    <div class="display-label">
        Reservationlink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReservationLink)
    </div>
    <div class="display-label">
        Thumbnaillink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThumbnailLink)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
